BinPackArguments: false
BreakBeforeBraces: Stroustrup
ColumnLimit: 0
ConstructorInitializerIndentWidth: 4
IndentWidth: 4
PointerAlignment: Left
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
UseTab: Never